{
  "configurations": [
    {
      "name": "Linux",
      "compileCommands": "${workspaceFolder}/build/compile_commands.json",
      {% if use_cpp23 %}"cppStandard": "c++23",{% else %}
      "cppStandard": "c++20",{% endif %}
      "configurationProvider": "ms-vscode.cmake-tools"
    }
  ],
  "version": 4
}
